application:
  title: Vulkan title
  name: Basic Vulkan example
  version: 
    major: 1
    minor: 0
    patch: 0
  engine: 
    name: Vulkan engine
    version: 
      major: 1
      minor: 0
      patch: 0
  vulkan:
    version: 
      major: 1 
      minor: 0 
      patch: 42
    extensions:
      - VK_KHR_surface
      - VK_KHR_xcb_surface
    device:
      features:
        - geometryShader
      extensions:
        - VK_KHR_swapchain
    surface: 
      present_mode: fifo
