application:
  title: Basic Vulkan example 
  name: Basic Vulkan example
  version: 
    major: 1
    minor: 0
    patch: 0
  engine: 
    name: Vulkan basic
    version: 
      major: 1
      minor: 0
      patch: 0
  vulkan:
    version: 
      major: 1 
      minor: 0 
      patch: 46
    extensions:
      - VK_KHR_surface 
      - VK_EXT_debug_report
